<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Finder</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri&family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="icon" href="../static/MFLOGO.png">
</head>
<body>
    <!--This is the code for the landing page-->
    <section class="homePage">
        <img class="fixedLogo" src="../static/MFLOGO.png" alt="Movie Finder Logo">
        <h1 class="top">Movie Finder</h1>
        <h3>Your pair movie recommender</h3>
        <a href="#year"><button id="takeMeButton">Take me there</button></a>
    </section>

    <div class="bottomSection">
    <section id="formSection" class="reveal">
    <!--This is the submit form-->
    <!--action="/recommendations" sends it to non existant url while local-->
    <form id="movieForm" action="{{ url_for('getRecommendations') }}" method="post">
        <!--names: genre, actor, language, length, rating-->
        <label for="genre">Choose a genre:</label>
        <select id="genre" name="genre">
            <option value="select">Select an option</option>
            <option value="comedy">Comedy</option>
            <option value="animation">Animation</option>
            <option value="romance">Romance</option>
            <option value="action">Action</option>
            <option value="horror">Horror</option>
            <option value="adventure">Adventure</option>
            <option value="sciFi">Science Fiction</option>
            <option value="drame">Drama</option>
            <option value="sports">Sports</option>
            <option value="western">Western</option>
        </select>

        <label for="actor">Preferred Actor/Actress:</label>
        <input type="text" id="actor" name="actor" required>

        <label class="year" for="year">Enter preferred year:</label>
        <input type="text" id="year" name="year" required >

        <input type="submit" value="Get Recommendation" id="getRecommendationsBtn">
    </form>
    </section> 

     <!--Nice message-->
    <p>Made with ❤️ in Medford, MA</p>

     </div>
    

    <!--This connects javascript to html-->
    <script src="../static/movie.js"></script>


</body>
</html>
